.search-bar {
  margin-bottom: 20px;
  max-width: 740px;
  margin: 50px auto 20px;
  display: flex;
  justify-content: center;
}

.search-bar input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
